<ion-content color="dark" padding>
  <form #form="ngForm">
    <ion-grid>
      <ion-row color="" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="center">
            <h3>E-Tuition Pay</h3>
          </div>

          <div padding>
            <p>Enter new password</p>
            <ion-item>
              <ion-input name="new-password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm-password" type="password" placeholder="Confirm Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button type="submit" routerLink="/login" [disabled]="form.invalid" expand="block">Change Password</ion-button>
          </div>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>