.center {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 12px;
  }

ion-item{
    --background: #6e777a;
    --color: #ffffff;
    --border-radius: 7px;
    margin-bottom: 10px;
}
ion-button{
    --background: #5DB075;
}

ion-input{
    --color: #ffffff;
    --border-radius:20px;
}


a{
    margin-left: auto;
    margin-right: auto;
}
.ForgotPassword{
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-top: 40px;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color:  #5DB075;
    background-color: transparent;
    text-decoration: none;
 }
