<ion-content color="dark" padding>
  <form>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="center">
            <h3>E-Tuition Pay</h3>
          </div>
          <div padding>
            <img src="/assets/img1.png"><br>
            <ion-item>
              <ion-input name="email" [(ngModel)]="email" type="email" placeholder="email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" [(ngModel)]="password"  type="password" placeholder="password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="default" expand="block" (click)="masuk()">Login</ion-button>
          </div>
          <div padding>
            <a class="ForgotPassword" routerLink="/forgot-password">Forgot Your Password ?</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
