<ion-header class="ion-no-border">
	<ion-toolbar color="dark">
      <ion-button slot="start" routerLink="/home" color="dark">
				<ion-icon name="arrow-back"size="large"></ion-icon>
			</ion-button>
	</ion-toolbar>

	<ion-item lines="none" color="dark">

		<ion-avatar slot="start">
			<img src="https://i.pinimg.com/originals/f1/c4/13/f1c41366c037155251e8c15cd411835b.png">
    </ion-avatar>
			<ion-label>
				<p>Hello,</p>
				<h2>Oskha Rafida Muadz</h2>
            </ion-label>
    </ion-item>

    </ion-header>
    <ion-content color="dark">
      <ion-grid>
        <ion-row>
          <ion-col>
          <p>Nama Lengkap  : Oskha Rafida Muadz</p>
          <p>NIS           : 141000087</p>
          <p>NISN          : 912849120848z</p>
          <p>Jenis Kelamin : Laki-Laki</p>
          <p>Tanggal lahir : 6 Oktober 2000</p>
          <p>Tempat Lahir  : Texas</p>
          <p>Agama         : Islam</p>
          <p>Alamat        : Sewon, Bantul, Yogyakarta</p>
          <p>Angkatan      : 2021</p>
          <p>Jurusan       : IPA</p>

         </ion-col>
      </ion-row>
          </ion-grid>     
    </ion-content>