<ion-content color="dark" padding>
  <form #form="ngForm" >
    <ion-grid>
      <ion-row color="" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="center">
            <h3>E-Tuition Pay</h3>
          </div>
          <div padding>
            <img src="/assets/img1.png"><br>
            <p>Insert your email to reset your password.
               The reset password page will be sent to your email address
            </p>
            <ion-item>
              <ion-input  [(ngModel)]="email" ngModel required name="Email" type="Email" placeholder="email" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="default" type="submit" (click)="forgot()" expand="block">Submit</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>