.center {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-top: 40px;
  }

ion-item{
    --background: #6e777a;
    --color: #ffffff;
    --border-radius: 7px;
    margin-bottom: 10px;
    margin-top: 20px;
}
ion-button{
    --background: #5DB075;
    margin-top: 20px;
}

ion-input{
    --color: #ffffff;
    --border-radius:20px;
}

img{
    border-radius: 200px;
    height: 140px;
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
a{
    margin-left: auto;
    margin-right: auto;
}
.ForgotPassword{
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-top: 40px;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color:  #5DB075;
    background-color: transparent;
    text-decoration: none;
 }

 p{
     font-size: 12px;
 }