<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-button slot="start" routerLink="/home">
				<ion-icon name="arrow-back-outline"size="large"></ion-icon>
			</ion-button>
      <ion-title>Riwayat Pembayaran</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <div class="container" color="dark">
      <ion-item lines="none">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="10">
              <ion-label>
                <h2>januari 2020</h2>
                <h3>Rp. 1.200.0000</h3>
                <h4>Angsuran Bulan Januari</h4>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  
      <ion-item lines="none">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="10">
              <ion-label>
                <h2>Februari 2020</h2>
                <h3>Rp. 1.200.0000</h3>
                <h4>Angsuran Bulan Februari</h4>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="none">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="10">
              <ion-label>
                <h2>Desember 2020</h2>
                <h3>Rp. 1.200.0000</h3>
                <h4>Angsuran Bulan Desember</h4>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
 
  </div>
    <ion-button expand="full" color="light">Cetak Riwayat Pembayaran</ion-button>
  </ion-content>
</ion-app>