<ion-header class="ion-no-border">
	<ion-toolbar>
	</ion-toolbar>

	<ion-item lines="none">

		<ion-avatar slot="start">
			<img src="https://i.pinimg.com/originals/f1/c4/13/f1c41366c037155251e8c15cd411835b.png">
    </ion-avatar>
			<ion-label>
				<p>Hello,</p>
				<h4>Oskha Rafida Muadz</h4>
      </ion-label>
      
    </ion-item>
    <ion-buttons slot="start">
			<ion-button>
				<ion-icon name="exit-outline" size="large"></ion-icon>
			</ion-button>
		</ion-buttons>

    </ion-header>
    <ion-content color="dark">
            <div class="container" color="dark">
                <ion-item lines="none">
                  <ion-grid>
                    <ion-row class="ion-align-items-center">
                      <ion-col size="3">
                        <ion-button color="light" fill="clear">
                          <ion-icon slot="icon-only" name="person"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col size="7">
                        <ion-label>
                            <h4>Data Siswa</h4>
                            <h6>Informasi detail data siswa</h6>
                        </ion-label>
                      </ion-col>
                      <ion-col size="2">
                        <ion-button color="light" fill="clear" routerLink="/data-siswa">
                          <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
            
                    <ion-item lines="none">
                  <ion-grid>
                    <ion-row class="ion-align-items-center">
                      <ion-col size="3">
                        <ion-button color="light" fill="clear">
                          <ion-icon slot="icon-only" name="newspaper"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col size="7">
                        <ion-label>
                            <h4>Info Pembayaran</h4>
                            <h6>Informasi detail pembayaran</h6>
                        </ion-label>
                      </ion-col>
                      <ion-col size="2">
                        <ion-button color="light" fill="clear" routerLink="/info-pembayaran">
                          <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>

            <ion-item lines="none">
                <ion-grid>
                  <ion-row class="ion-align-items-center">
                    <ion-col size="3">
                      <ion-button color="light" fill="clear">
                        <ion-icon slot="icon-only" name="film"></ion-icon>
                      </ion-button>
                    </ion-col>
                    <ion-col size="7">
                      <ion-label>
                          <h4>Transaksi</h4>
                          <h6>Transaksi pembayaran </h6>
                      </ion-label>
                    </ion-col>
                    <ion-col size="2">
                      <ion-button color="light" fill="clear" routerLink="/transaksi">
                        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </div>
          </ion-content>
