<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-button slot="start" routerLink="/home" >
				<ion-icon name="arrow-back-outline"size="large"></ion-icon>
			</ion-button>
      <ion-title>Riwayat Pembayaran</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <div class="container" color="dark">
      <ion-item lines="none">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="10">
                <ion-label>
                   <ion-label>
                      <h2>Januari 2020</h2>
                      <h3>Rp. 1.200.0000</h3>
                      <h4>Angsuran Bulan Januari</h4>
                      <h5>Transaksi Berhasil</h5>
                    </ion-label>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-button color="light" fill="clear">
                  <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item lines="none">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="10">
                  <ion-label>
                     <ion-label>
                        <h2>Februari 2020</h2>
                        <h3>Rp. 1.200.0000</h3>
                        <h4>Angsuran Bulan Februaru</h4>
                        <h5>Transaksi Berhasil</h5>
                      </ion-label>
                  </ion-label>
                </ion-col>
                <ion-col size="2">
                  <ion-button color="light" fill="clear">
                    <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item lines="none">
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col size="10">
                    <ion-label>
                       <ion-label>
                          <h2>Maret 2020</h2>
                          <h3>Rp. 1.200.0000</h3>
                          <h4>Angsuran Bulan Maret</h4>
                          <h5>Transaksi Berhasil</h5>
                        </ion-label>
                    </ion-label>
                  </ion-col>
                  <ion-col size="2">
                    <ion-button color="light" fill="clear">
                      <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>