ion-header {
    
    ion-toolbar, ion-item {
      --background: #f1f5f8;
      background: #f1f5f8;
      padding: 0 10px;
    }
    ion-button{
      --background: #f1f5f8;
      background: #f1f5f8;
    }
    ion-icon{
      color: black;
    }
    ion-toolbar {
      .bordered {
        --border-radius: 100px;
        --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
      }
    }
    ion-item {
      h3 {
        font-weight: 700;
        font-size: 14px;
      }
      p {
        font-weight: 500;
        font-size: 14px;
      }
      ion-avatar {
        --border-radius: 40%;
      }
    }
  
  }

  ion-content {
    --background: #1d1e1f;
  
    ion-card {
      width: 100%;
      box-shadow: none;
      border-radius: 14px;
      padding: 10px;
      background: rgba(255,255,255,.8);
      .main {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background: #FFFFFF;
        box-shadow:  7px 7px 20px #dbdfe2, 
                    -7px -7px 20px #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 55px;
        }

      }
      .files {
          padding-top: 14px;
      }
  
    }
  
    .container {
      padding: 6px 20px;
      color: #FFFFFF;
  
      ion-item {
        --background: rgba(255,255,255,.1);
        padding: 0;
        margin: 14px 0;
        --border-radius: 14px;
        color: #FFFFFF;
        font-weight: 600;
  
        ion-label {
          padding: 6px 0;
  
          h4 {
            font-weight: 600;
            font-size: 16px;
          }
          h6 {
            color: rgba(255,255,255,.66);
          }
        }
  
      }
  
      h2 {
        padding-bottom: 8px;
      }
  
    }
  
  }